{% extends "base.twig" %}
{% block title %}{{ language.LANGUAGE_ADDED }}{% endblock %}
{% block content %}
<h1>{{ language.LANGUAGE_ADDED }}</h1>
<p id="shared_link">
    {{ shared_link }}
</p>

{% endblock %}