@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
}

.small-button {
    @apply px-3 py-2 text-xs font-medium text-center border text-gray-900 bg-white rounded-lg border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.button{
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
}

a:not(.navbar-link) {
    @apply text-blue-600 underline dark:text-blue-500 hover:no-underline;
}