name: Build Training Service Image
on: workflow_dispatch
jobs:
  build-image:
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        uses: BSFishy/pip-action@v1
        with:
          requirements: vuln_images/requirements.txt
      - name: Build the image
        run: python3 build_image.py --skip-updating-vulnimage-config ../training/services/deploy.yaml
        working-directory: "${{ github.workspace }}/vuln_images/"
        env:
          DO_API_TOKEN: ${{ secrets.DO_API_TOKEN }}
