name: Build Training Router Image
on: workflow_dispatch
jobs:
  build-image:
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        uses: BSFishy/pip-action@v1
        with:
          requirements: vuln_images/requirements.txt
      - name: Apply training config
        run: cp settings.training.py settings.py
        working-directory: "${{ github.workspace }}/vuln_images/"
      - name: Build the image
        run: python3 build_image.py --skip-updating-vulnimage-config router.deploy.yaml
        working-directory: "${{ github.workspace }}/vuln_images/"
        env:
          DO_API_TOKEN: ${{ secrets.DO_API_TOKEN }}
